.Nav{
    background-color:darkgrey;
}
.column{
    float:left;
    height:150px;
    background-color:rgb(214, 214, 214);
    width:15%;
    border-top: 1px solid  white;
    border-bottom: 1px solid white;
    text-align:center;
    margin: auto;
}
.columns{
    float:right;
   width:85%;
   height:150px;
    line-height: 0px;
    border-top: 1px solid rgb(219, 215, 215);
    border-bottom: 1px solid rgb(219, 215, 215);
}
.text{
    padding-top: 40px;
}